# Ignorer les dossiers et fichiers spécifiques à Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorer les dossiers bin et obj
bin/
obj/
Source/
Destination/

# Ignorer les fichiers de build
*.dll
*.exe
*.pdb
*.cache
*.csproj.user
*.log
*.ilk

# Ignorer les fichiers générés par les tests
TestResults/
*.trx
*.txt

# Ignorer les fichiers de configuration locaux
*.config
*.sqlite
*.db
*.json
!App.config

# Ignorer les fichiers de design générés par Visual Studio
*.Designer.cs

# Ignorer les dossiers temporaires et caches
**/TempPE/
**/Debug/
**/Release/
.publish/
publish/

# Ignorer les fichiers liés aux packages
packages/
.nuget/
*.nupkg
*.nuspec
.nuget.props

# Ignorer les fichiers système et caches d'IDE tiers
.DS_Store
Thumbs.db
desktop.ini
.idea/
*.iml
_ReSharper.Caches/

# Garder le fichier solution et les fichiers nécessaires au projet
!*.cs
!*.csproj
!*.sln
